.blogs{
    flex: 10;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}




/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    .blogs{
        max-width: 80%;
        padding-top: 50px;
        margin: auto;
        flex: 9;
        display: grid;
        grid-template-columns: 1fr 1fr ;  
    }
    
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .blogs{
        flex: 12;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}

