.header{
    margin-top: 10px;
    z-index: 1;
}

.headerTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: grey;
    font-family: 'Lora', serif;
    z-index: 50;
}

.title-sm{
    position: absolute;
    top: 14%;
    font-size: 20px;
}

.title-lg{
    position: absolute;
    top: 15%;
    font-size: 80px;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
 
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    
}